@using DentalApp.Models.View

@model DoctorHomeViewModel


@{
    Layout = null;

    ViewData["Title"] = "Doctor Dashboard";
}


<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>crud dashboard</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!----css3---->
    <link rel="stylesheet" href="~/css/custom.css">


    <!--google fonts -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">


    <!--google material icon-->
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">

</head>
<body>


    <div class="wrapper">


        <div class="body-overlay"></div>

        <!-------------------------sidebar------------>
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <img src="@Url.Content("~/images/usuario.png")" class="img-fluid" />
                <span>@Model.Usuario.Nombre</span>
                <span>@Model.Usuario.Apellidos</span>
            </div>
            <ul class="list-unstyled components">
                <li class="active">
                    <a href="#" id="dashboard-btn" class="dashboard">
                        <i class="material-icons">dashboard</i>
                        <span>Dashboard</span>
                    </a>
                </li>


                @* <li>
                    <a href="#homeSubmenu1" id="citas-btn" data-toggle="collapse" aria-expanded="false">
                        <i class="material-icons">aspect_ratio</i>Citas
                    </a>

                </li> *@

                <li>
                    <a href="#pageSubmenu2" id="Historial-btn" data-toggle="collapse" aria-expanded="false">
                        <i class="material-icons">insert_chart</i><span>Historial Clínico</span>
                    </a>
                </li>

             
                <li>
                    <a href="#pageSubmenu4" id="btn-tratamientos" data-toggle="collapse" aria-expanded="false">
                        <i class="material-icons">medical_services</i><span>Tratamientos</span>
                    </a>

                </li>

                <li>
                    <a href="#pageSubmenu5" id="btn-progreso" data-toggle="collapse" aria-expanded="false">
                        <i class="material-icons">medical_services</i><span>Progreso tratamiento</span>
                    </a>

                </li>




            </ul>


        </nav>




        <!--------page-content---------------->

        <div id="content">

            <!--top--navbar----design--------->

            <div class="top-navbar">
                <div class="xp-topbar">

                    <!-- Start XP Row -->
                    <div class="row">
                        <!-- Start XP Col -->
                        <div class="col-2 col-md-1 col-lg-1 order-2 order-md-1 align-self-center">
                            <div class="xp-menubar">
                                <span class="material-icons text-white">
                                    signal_cellular_alt
                                </span>
                            </div>
                        </div>
                        <!-- End XP Col -->
                        <!-- Start XP Col -->
                        <div class="col-md-5 col-lg-3 order-3 order-md-2">
                            <div class="xp-searchbar">
                                <form>
                                    <div class="input-group">
                                        <input type="search" class="form-control"
                                               placeholder="Search">
                                        <div class="input-group-append">
                                            <button class="btn" type="submit"
                                                    id="button-addon2">
                                                GO
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- End XP Col -->
                        <!-- Start XP Col -->
                        <div class="col-10 col-md-6 col-lg-8 order-1 order-md-3">
                            <div class="xp-profilebar text-right">
                                <nav class="navbar p-0">
                                    <ul class="nav navbar-nav flex-row ml-auto">
                                        <li class="dropdown nav-item active">
                                            <a href="#" id="btn-notificaciones" class="nav-link" data-toggle="dropdown">
                                                <span class="material-icons">notifications</span>
                                                <span class="notification">@Model.notificaciones.Count</span>
                                            </a>
                                            @* <ul class="dropdown-menu">
                                                <li>
                                                    <a href="#">You have 5 new messages</a>
                                                </li>
                                                <li>
                                                    <a href="#">You're now friend with Mike</a>
                                                </li>
                                                <li>
                                                    <a href="#">Wish Mary on her birthday!</a>
                                                </li>
                                                <li>
                                                    <a href="#">5 warnings in Server Console</a>
                                                </li>

                                            </ul> *@
                                        </li>

                                        <li class="nav-item dropdown">
                                            <a class="nav-link" href="#" data-toggle="dropdown">
                                                <img src="@Url.Content("~/images/usuario.png")" style="width:24px; border-radius:50%;" />
                                                <span class="xp-user-live"></span>
                                            </a>
                                            <ul class="dropdown-menu small-menu">
                                                <li>
                                                    <a href="#" id="editProfileLink">
                                                        <span class="material-icons">
                                                            person_outline
                                                        </span>Profile Settings

                                                    </a>
                                                </li>

                                                <li>
                                                    <a asp-area="" asp-controller="Client" asp-action="signOut">

                                                        <span class="material-icons">
                                                            logout
                                                        </span>Logout
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>


                                </nav>

                            </div>
                        </div>
                        <!-- End XP Col -->

                    </div>
                    <!-- End XP Row -->

                </div>
                <div class="xp-breadcrumbbar text-center">
                    <h4 class="page-title">Bienvenido @Model.Usuario.Nombre @Model.Usuario.Apellidos</h4>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Booster</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                    </ol>
                </div>

            </div>


            <!------Panel de inicio----->

            <div class="container mt-5 mb-5" id="home-panel">
                <h2>Próximas citas</h2>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card mb-3">
                            <div class="card-body">
                                <h5 class="card-title">Cita de limpieza</h5>
                                <p class="card-text">Fecha: 15 de octubre de 2022</p>
                                <p class="card-text">Hora: 10:00 AM</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card mb-3">
                            <div class="card-body">
                                <h5 class="card-title">Cita de revisión</h5>
                                <p class="card-text">Fecha: 20 de octubre de 2022</p>
                                <p class="card-text">Hora: 11:30 AM</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Tratamientos-->

            <div id="pnl-tratamientos" class="col-md-12 d-none">
                <div class="table-wrapper">
                    <div class="table-title">
                        <div class="row">
                            <div class="col-sm-6 p-0 d-flex justify-content-lg-start justify-content-center">
                                <h2 class="ml-lg-2">Gestión de Tratamientos Dentales</h2>
                            </div>
                            <div class="col-sm-6 p-0 d-flex justify-content-lg-end justify-content-center">
                                <!-- Nuevo botón para agregar tratamiento -->
                                <a href="#addTreatmentModal" class="btn btn-success" data-toggle="modal">
                                    <i class="material-icons">&#xE147;</i> <span>Nuevo Tratamiento</span>
                                </a>
                            </div>
                        </div>
                        <!-- Input para buscar tratamientos -->
                        <div class="row mt-3">
                            <div class="col-sm-6 input-group">
                                <input type="text" class="form-control" placeholder="Buscar tratamientos" id="searchTreatmentInput">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" id="filterTreatmentButton">
                                        <i class="material-icons">&#xE8B6;</i> <span>Filtrar</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Tabla de tratamientos -->
                    <div id="pnl-table-tratamiento"> 
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Descripción</th>
                                <th>Duración</th>
                                <th>Restricciones</th>
                                <th>Precio</th>
                                <th>Imagen</th>
                                <th>Acciones</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var tratamiento in Model.Tratamientos)
                            {
                                <tr>
                                    
                                    <td>@tratamiento.Nombre</td>
                                    <td>@tratamiento.Descripcion</td>
                                    <td>@tratamiento.Duracion</td>
                                    <td>@tratamiento.Restricciones</td>
                                    <td>@tratamiento.Precio</td>
                                    <td>@tratamiento.Imagen</td>
                                    <td>
                                        <!-- Acciones de editar y eliminar -->
                                        <a href="#editTreatmentModal" class="edit" data-toggle="modal"
                                           data-id="@tratamiento.Id"
                                           data-nombre="@tratamiento.Nombre"
                                           data-descripcion="@tratamiento.Descripcion"
                                           data-duracion="@tratamiento.Duracion"
                                           data-restricciones="@tratamiento.Restricciones"
                                           data-precio="@tratamiento.Precio"
                                           data-imagen="@tratamiento.Imagen">
                                            <i class="material-icons" data-toggle="tooltip" title="Editar">&#xE254;</i>
                                        </a>
                                        <a href="#deleteTreatmentModal" class="delete" data-toggle="modal"
                                           data-id="@tratamiento.Id">
                                            <i class="material-icons" data-toggle="tooltip" title="Eliminar">&#xE872;</i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    <!-- Paginación -->
                    <div class="clearfix">
                        <div class="hint-text">Mostrando <b>@Model.Tratamientos.Count()</b> de <b>@Model.Tratamientos.Count</b> tratamientos</div>
                        <ul class="pagination">
                           @*  @for (int i = 1; i <= Model.TotalPages; i++)
                            {
                                <li class="page-item"><a href="@Url.Action("Index", new { pageNumber = i })" class="page-link">@i</a></li>
                            } *@
                        </ul>
                    </div>

                    </div>
                </div>
            </div>


            <!-- Add Treatment Modal HTML -->
            <div id="addTreatmentModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form id="agregarTratamiento" method="post">
                            <div class="modal-header">
                                <h4 class="modal-title">Agregar Tratamiento</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            </div>
                            <div class="modal-body">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label>Nombre</label>
                                        <input type="text" class="form-control" name="Nombre" required>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Descripción</label>
                                        <input type="text" class="form-control" name="Descripcion" required>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label>Duración</label>
                                        <input type="text" class="form-control" name="Duracion" required>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Restricciones</label>
                                        <input type="text" class="form-control" name="Restricciones" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Precio</label>
                                    <input type="text" class="form-control" name="Precio" required>
                                </div>
                                <div class="form-group">
                                    <label>Imagen</label>
                                    <input type="file" class="form-control" name="Imagen" required>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="cancelarRegistro" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                <button type="submit" class="btn btn-success">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Edit Treatment Modal HTML -->
            <div id="editTreatmentModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form asp-action="ActualizarTratamiento" asp-controller="Dentista" method="post">
                            <div class="modal-header">
                                <h4 class="modal-title">Editar Tratamiento</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            </div>
                            <div class="modal-body">
                                <input type="hidden" name="Id" id="tratamientoId">

                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label>Nombre</label>
                                        <input type="text" class="form-control" name="Nombre" required>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Descripción</label>
                                        <input type="text" class="form-control" name="Descripcion" required>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label>Duración</label>
                                        <input type="text" class="form-control" name="Duracion" required>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Restricciones</label>
                                        <input type="text" class="form-control" name="Restricciones" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Precio</label>
                                    <input type="text" class="form-control" name="Precio" required>
                                </div>
                                <div class="form-group">
                                    <label>Imagen</label>
                                    <input type="file" class="form-control" name="Imagen" required>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                <button type="submit" class="btn btn-info">Guardar Cambios</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Delete Modal HTML -->
            <div id="deleteTreatmentModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form id="eliminarTratamiento">
                            <div class="modal-header">
                                <h4 class="modal-title">Eliminar tratamiento</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            </div>
                            <div class="modal-body">
                                <input type="hidden" name="Id" id="deleteTratamientoId" readonly>
                                <p>¿Estás seguro de que deseas eliminar este tratamiento?</p>
                            </div>
                            <div class="modal-footer">
                                <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                                <input type="submit" class="btn btn-danger" value="Eliminar">
                            </div>
                        </form>
                    </div>
                </div>
            </div>




            <!--------main-content------------->

            <div class="main-content d-none" id="main-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-wrapper">
                            <div class="table-title">
                                <div class="row">
                                    <div class="col-sm-6 p-0 d-flex justify-content-lg-start justify-content-center">
                                        <h2 class="ml-lg-2">Gestión de Citas</h2>
                                    </div>
                                    <div class="col-sm-6 p-0 d-flex justify-content-lg-end justify-content-center">
                                        <a href="#addAppointmentModal" class="btn btn-success" data-toggle="modal">
                                            <i class="material-icons">&#xE147;</i> <span>Solicitar Cita</span>
                                        </a>
                                        <a href="#deleteAppointmentModal" class="btn btn-danger" data-toggle="modal">
                                            <i class="material-icons">&#xE15C;</i> <span>Cancelar Cita</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>
                                            <span class="custom-checkbox">
                                                <input type="checkbox" id="selectAll">
                                                <label for="selectAll"></label>
                                            </span>
                                        </th>
                                        <th>Id</th>
                                        <th>Fecha de la cita</th>
                                        <th>Hora de la cita</th>
                                        <th>Estado</th>
                                        <th>Motivo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @* @foreach (var solicitud in Model.SolicitudesCita)
                                    {
                                    <tr>
                                        <td>
                                            <span class="custom-checkbox">
                                                <input type="checkbox" id="checkbox@(solicitud.Id)" name="options[]" value="@(solicitud.Id)">
                                                <label for="checkbox@(solicitud.Id)"></label>
                                            </span>
                                        </td>
                                        <td>@solicitud.Id</td>
                                        <td>@solicitud.Fecha.ToString("yyyy-MM-dd HH:mm")</td>
                                        <td>@solicitud.Hora</td>
                                        <td>@solicitud.Estado</td>
                                        <td>@solicitud.MotivoCita</td>

                                        <td>
                                            <a href="#requestAppointmentModal" class="edit" data-toggle="modal">
                                                <i class="material-icons" data-toggle="tooltip" title="Solicitar">&#xE254;</i>
                                            </a>
                                            <a href="#deleteAppointmentModal" class="delete" data-toggle="modal">
                                                <i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i>
                                            </a>
                                        </td>
                                    </tr>
                                    } *@
                                </tbody>
                            </table>
                            <!-- Agrega el resto de tu paginación y otros elementos según sea necesario -->
                            <div class="clearfix">
                                <div class="hint-text">Mostrando <b>5</b> de <b>25</b> entradas</div>
                                <ul class="pagination">
                                    <li class="page-item disabled"><a href="#">Anterior</a></li>
                                    <li class="page-item"><a href="#" class="page-link">1</a></li>
                                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                                    <li class="page-item active"><a href="#" class="page-link">3</a></li>
                                    <li class="page-item"><a href="#" class="page-link">4</a></li>
                                    <li class="page-item"><a href="#" class="page-link">5</a></li>
                                    <li class="page-item"><a href="#" class="page-link">Siguiente</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>


                    <!-- Edit Modal HTML -->
                    <div id="addAppointmentModal" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <form>
                                    <div class="modal-header">
                                        <h4 class="modal-title">Solicitar Nueva Cita</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label>Nombre</label>
                                            <input type="text" class="form-control" required>
                                        </div>
                                        <div class="form-group">
                                            <label>Fecha</label>
                                            <input type="datetime-local" class="form-control" required>
                                        </div>
                                        <div class="form-group">
                                            <label>Tipo de cita</label>
                                            <input type="text" class="form-control" required>
                                        </div>

                                        <div class="form-group">
                                            <label>Motivo</label>
                                            <input type="text" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                                        <input type="submit" class="btn btn-success" value="Solicitar Cita">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- Edit Modal HTML -->
                    <div id="requestAppointmentModal" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <form>
                                    <div class="modal-header">
                                        <h4 class="modal-title">Editar Cita</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label>Nombre</label>
                                            <input type="text" class="form-control" required>
                                        </div>
                                        <div class="form-group">
                                            <label>Fecha</label>
                                            <input type="datetime-local" class="form-control" required>
                                        </div>
                                        <div class="form-group">
                                            <label>Tipo de cita</label>
                                            <input type="text" class="form-control" required>
                                        </div>

                                        <div class="form-group">
                                            <label>Motivo</label>
                                            <input type="text" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                                        <input type="submit" class="btn btn-info" value="Guardar Cambios">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>



                    <!-- Delete Modal HTML -->
                    <div id="deleteAppointmentModal" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <form>
                                    <div class="modal-header">
                                        <h4 class="modal-title">Cancelar Cita</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <p>¿Estás seguro de que deseas cancelar esta cita?</p>
                                        <p class="text-warning"><small>Esta acción no se puede deshacer.</small></p>
                                    </div>
                                    <div class="modal-footer">
                                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                                        <input type="submit" class="btn btn-danger" value="Cancelar Cita">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>


                    <!---footer---->


                </div>


            </div>

            <!-- Formulario de edición del perfil -->
            <div id="edit-profile" class="mt-5 d-none">
                <h2 class="text-center">Información de perfil</h2>

                <button id="enableEdit" class="ml-2 mb-2 btn btn-secondary">Habilitar Edición</button>

                <form id="editProfileForm" asp-action="ActualizarUsuario" asp-controller="Doctor">
                    <div class="card card-body mb-3">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="editFirstName" class="form-label">Nombres:</label>
                                <input type="text" value="@Model.Usuario.Nombre" class="form-control prof-inputs text-capitalize" id="editFirstName" asp-for="Usuario.Nombre" disabled required>
                            </div>
                            <div class="col-md-6">
                                <label for="editLastName" class="form-label">Apellidos:</label>
                                <input type="text" value="@Model.Usuario.Apellidos" class="form-control prof-inputs text-capitalize" id="editLastName" asp-for="Usuario.Apellidos" disabled required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="editBirthdate" class="form-label">Fecha de nacimiento:</label>
                                <input type="date" value="@Model.Usuario.FechaNacimiento" class="form-control prof-inputs" id="editBirthdate" asp-for="Usuario.FechaNacimiento" disabled required>
                            </div>
                            <div class="col-md-6">
                                <label for="editEmail" class="form-label">Email:</label>
                                <input type="email" value="@Model.Usuario.Correo" class="form-control prof-inputs" id="editEmail" asp-for="Usuario.Correo" disabled required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="editPhone" class="form-label">Teléfono:</label>
                                <input type="tel" value="@Model.Usuario.Telefono" class="form-control prof-inputs" id="editPhone" asp-for="Usuario.Telefono" disabled>
                            </div>
                            <div class="col-md-6">
                                <label for="editEspecialidad" class="form-label">Especialidad:</label>

                                <select class="form-control prof-inputs" id="editEspecialidad" asp-for="@Model.Usuario.Especialidad" disabled>
                                    @foreach (var item in Model.Especialidades)
                                    {
                                        <option value="@item.ID" selected="@((item.ID == Model._Doctor.Especialidad))">
                                            @item.Especialidad1
                                        </option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="row">

                        <div class="col-md-6">
                            <label for="editDNI" class="form-label">Cédula:</label>
                            <input type="tel" value="@Model.Usuario.Cedula" class="form-control prof-inputs" id="editDNI" asp-for="Usuario.Cedula" disabled>
                        </div>
                        </div>

                        <div class="d-grid mt-3">
                            <button id="saveProfileChanges" class="btn btn-primary prof-inputs" type="submit" name="Save">Save Changes</button>
                        </div>
                    </div>
                </form>
            </div>


            <!--Gestionar historial clinico-->

            <div id="gestionarHistorial" class="container mt-5 d-none">

                <!-- Panel de Acciones -->
                <div class="card">
                    <div class="card-header">
                        Acciones
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="buscar">Buscar por Cédula o Nombre:</label>
                            <input type="text" class="form-control" id="buscar" placeholder="Ingrese cédula o nombre">
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="acompanante">
                            <label class="form-check-label" for="acompanante">Buscar por acompañante</label>
                        </div>
                        <button class="btn btn-primary mt-3">Filtrar Paciente</button>
                    </div>
                </div>

            <!-- Panel de Historial Clínico -->
            <div class="card mt-3">
                <div class="card-header">
                    Historial Clínico del Paciente
                </div>
                <div class="card-body">

                    <div class="form-group">
                        <label for="nombrePaciente">Nombre del paciente</label>
                        <input type="text" class="form-control" id="nombrePaciente">
                    </div>
                    <div class="form-group">
                        <label for="observaciones">Observaciones Generales:</label>
                        <input type="text" class="form-control" id="observaciones">
                    </div>

                    <!-- Subtitulo de Deportes -->
                    <h5 class="mt-4">Deportes</h5>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="practicaDeporte">
                        <label class="form-check-label" for="practicaDeporte">Practica Deporte</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="malestarDeporte">
                        <label class="form-check-label" for="malestarDeporte">Presenta Malestar al Deportar</label>
                    </div>

                    <!-- Subtitulo de Padres -->
                    <h5 class="mt-4">Padres</h5>
                    <div class="form-group">
                        <label for="enfermedadesPadre">Enfermedades del Padre:</label>
                        <input type="text" class="form-control" id="enfermedadesPadre">
                    </div>
                    <div class="form-group">
                        <label for="enfermedadesMadre">Enfermedades de la Madre:</label>
                        <input type="text" class="form-control" id="enfermedadesMadre">
                    </div>

                    <!-- Subtitulo de Enfermedades Propias -->
                    <h5 class="mt-4">Enfermedades Propias</h5>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="diabetico">
                        <label class="form-check-label" for="diabetico">Diabético</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="problemasRenales">
                        <label class="form-check-label" for="problemasRenales">Problemas Renales</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="presionAlta">
                        <label class="form-check-label" for="presionAlta">Presión Alta</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="epileptico">
                        <label class="form-check-label" for="epileptico">Epileptico</label>
                    </div>
                    <div class="form-group">
                        <label for="otrasEnfermedades">Otras Enfermedades:</label>
                        <input type="text" class="form-control" id="otrasEnfermedades">
                    </div>

                    <!-- Subtitulo de Operaciones -->
                    <h5 class="mt-4">Operaciones</h5>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="operaciones">
                        <label class="form-check-label" for="operaciones">Ha tenido operaciones</label>
                    </div>
                    <div class="form-group">
                        <label for="detalleOperacion">Detalle de la Operación:</label>
                        <input type="text" class="form-control" id="detalleOperacion">
                    </div>

                    <!-- Subtitulo de Salud Dental -->
                    <h5 class="mt-4">Salud Dental</h5>
                    <div class="form-group">
                        <label for="estadoBucal">Estado Bucal:</label>
                        <textarea class="form-control" id="estadoBucal" rows="2"></textarea>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="caries">
                        <label class="form-check-label" for="caries">Caries</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="dientesFracturados">
                        <label class="form-check-label" for="dientesFracturados">Dientes Fracturados</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="sangradoEncias">
                        <label class="form-check-label" for="sangradoEncias">Sangrado de Encías</label>
                    </div>

                    <!-- Botones -->
                    <div class="mt-4">
                        <button class="btn btn-success">Guardar</button>
                        <button class="btn btn-secondary">Cancelar</button>
                        <button class="btn btn-danger">Dar de Baja</button>
                    </div>

                </div>
            </div>

        </div>
        <!--End historial clinico-->

        <!--Notificaciones-->

            <div id="notificaciones" class="card-body d-none">

                <h2 class="mt-3 ml-2">Notificaciones</h2>
                @foreach (var item in Model.notificaciones)
                {

                    <div class="mt-2">
                        <div class="card bg-light">
                            <div class="card-body d-flex" style="border-left: 6px solid #007BFF">
                                <img class="mt-1" src="@Url.Content("~/images/usuario.png")" style="width:20px; height: 20px ; border-radius:50%;" />
                                <div class="flex-grow-1 ml-2">
                                    <h5 class="card-title mb-1">@item.Asunto</h5>
                                    <p class="card-text text-muted">@item.Cuerpo</p>
                                    <p class="card-text text-muted"><small>@item.FechaCreacion</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>

            <!--Notificaciones-->



            <div id="pnl-progresotratamiento" class="container-fluid mt-5 d-none">
                <div class="row">
                    <!-- Subpanel izquierdo -->
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-header bg-primary text-white">
                                <h4 class="mb-0">Lista de Tratamientos</h4>
                            </div>
                            <div class="card-body overflow-auto">
                                <!-- Input y botón de búsqueda -->
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="Cédula del paciente" id="inputCedula">
                                    <div class="input-group-append">
                                        <button class="btn btn-success" type="button">Filtrar</button>
                                        <button class="btn btn-primary ml-2" type="button">Agregar Tratamiento</button>
                                    </div>
                                </div>
                                <!-- Tabla de tratamientos -->
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Descripción</th>
                                            <th>Fecha de Inicio</th>
                                            <th>Detalles</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tablaTratamientos">
                                        <!-- Registros de ejemplo -->
                                        <tr>
                                            <td>Tratamiento 1</td>
                                            <td>Descripción 1</td>
                                            <td>01/01/2023</td>
                                            <td><button class="btn btn-info" onclick="verDetalles(this)">Ver Detalles</button></td>
                                        </tr>
                                        <tr>
                                            <td>Tratamiento 2</td>
                                            <td>Descripción 2</td>
                                            <td>02/01/2023</td>
                                            <td><button class="btn btn-info" onclick="verDetalles(this)">Ver Detalles</button></td>
                                        </tr>
                                        <!-- Puedes agregar más registros aquí -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-header bg-primary text-white">
                                <div class="d-flex justify-content-between">
                                    <h4 class="mb-0">Detalles del Progreso del Tratamiento</h4>
                                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addProgressModal">
                                        Añadir Progreso
                                    </button>
                                </div>
                            </div>
                            <div class="card-body overflow-auto">
                                <!-- Tabla de detalles -->
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Fecha de Seguimiento</th>
                                            <th>Observaciones</th>
                                            <!-- Agrega más columnas según sea necesario -->
                                        </tr>
                                    </thead>
                                    <tbody id="tablaDetalles">
                                        <!-- Registros de ejemplo -->
                                        <tr>
                                            <td>01/02/2023</td>
                                            <td>Observaciones de ejemplo 1</td>
                                        </tr>
                                        <tr>
                                            <td>02/02/2023</td>
                                            <td>Observaciones de ejemplo 2</td>
                                        </tr>
                                        <!-- Puedes agregar más registros aquí -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <!-- Modal para añadir progreso -->
                    <div class="modal fade" id="addProgressModal" tabindex="-1" role="dialog" aria-labelledby="addProgressModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="addProgressModalLabel">Añadir Progreso</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <!-- Contenido del formulario para añadir progreso -->
                                    <form>
                                        <div class="form-group">
                                            <label for="fechaSeguimiento">Fecha de Seguimiento</label>
                                            <input type="date" class="form-control" id="fechaSeguimiento">
                                        </div>
                                        <div class="form-group">
                                            <label for="observaciones">Observaciones</label>
                                            <textarea class="form-control" id="observaciones" rows="3"></textarea>
                                        </div>
                                        <!-- Puedes agregar más campos según sea necesario -->
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                    <button type="button" class="btn btn-primary" onclick="guardarProgreso()">Guardar Progreso</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>


    <!----------html code compleate----------->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="~/js/jquery-3.3.1.slim.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery-3.3.1.min.js"></script>


    <script type="text/javascript">

        $(document).ready(function () {
            $(".xp-menubar").on('click', function () {
                $('#sidebar').toggleClass('active');
                $('#content').toggleClass('active');
            });

            $(".xp-menubar,.body-overlay").on('click', function () {
                $('#sidebar,.body-overlay').toggleClass('show-nav');
            });

        });

    </script>

@*     <script type="text/javascript">
        document.getElementById('editProfileLink').addEventListener('click', function () {

            document.getElementById('main-content').classList.add('d-none');
            document.getElementById('home-panel').classList.add('d-none');
            document.getElementById('edit-profile').classList.remove('d-none');
        });

        document.getElementById('citas-btn').addEventListener('click', function () {
            document.getElementById('main-content').classList.remove('d-none');
            document.getElementById('home-panel').classList.add('d-none');
            document.getElementById('edit-profile').classList.add('d-none');
        });

        document.getElementById('citas-btn').addEventListener('click', function () {
            document.getElementById('main-content').classList.remove('d-none');
            document.getElementById('home-panel').classList.add('d-none');
            document.getElementById('edit-profile').classList.add('d-none');
        });

        document.getElementById('dashboard-btn').addEventListener('click', function () {
            document.getElementById('main-content').classList.add('d-none');
            document.getElementById('home-panel').classList.remove('d-none');
            document.getElementById('edit-profile').classList.add('d-none');
        });
    </script> *@

    <script type="text/javascript">



        function hideAllAndShowOne(showId) {
            var allPanels = ['main-content', 'home-panel', 'edit-profile', 'gestionarHistorial', 'notificaciones', 'pnl-tratamientos', 'pnl-progresotratamiento'];

            allPanels.forEach(function (panelId) {
                $('#' + panelId).addClass('d-none');
            });

            $('#' + showId).removeClass('d-none');
        }

        $('#editProfileLink').click(function () {
            hideAllAndShowOne('edit-profile');

        });

        $('#citas-btn').click(function () {
            hideAllAndShowOne('main-content');
        });


        $('#dashboard-btn').click(function () {
            hideAllAndShowOne('home-panel');
        });

        $('#Historial-btn').click(function () {
            hideAllAndShowOne('gestionarHistorial');
        });

        $('#btn-notificaciones').click(function () {
             hideAllAndShowOne('notificaciones');
        });


        $('#btn-tratamientos').click(function () {
            hideAllAndShowOne('pnl-tratamientos');
        });
        $('#btn-progreso').click(function () {
            hideAllAndShowOne('pnl-progresotratamiento');
        });


    </script>

    <script>
        $(document).ready(function () {
            // Al hacer clic en el botón para habilitar la edición
            $('#enableEdit').on('click', function () {
                // Habilitar todos los campos del formulario
                $('#editProfileForm input, #editProfileForm select').prop('disabled', false);
            });
        });
    </script>



    <script>
        // Script para manejar el clic en elementos con la clase 'delete'
        $(document).on('click', '.delete', function () {
            var tratamientoId = $(this).data('id');
            $('#deleteTratamientoId').val(tratamientoId);
        });

        // Script para manejar el envío del formulario 'agregarTratamiento'
        $(document).on('submit', '#agregarTratamiento', function (e) {
            e.preventDefault();

            var formData = new FormData($(this)[0]);

            $.ajax({
                type: "POST",
                url: "/Doctor/AgregarTratamiento",
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    // Limpia los campos del formulario
                    // Actualiza la tabla u otro contenido con la respuesta
                    $('#pnl-table-tratamiento').html(response);
                    $('#cancelarRegistro').trigger('click');
                    $("#agregarTratamiento")[0].reset();
                },
                error: function (error) {
                    console.error(error);
                }
            });
        });

        // Script para manejar el envío del formulario 'eliminarTratamiento'
        $(document).on('submit', '#eliminarTratamiento', function (event) {
            event.preventDefault();

            var formData = new FormData();
            var tratamientoId = $("#deleteTratamientoId").val();

            formData.append('idtratamiento', tratamientoId);

            $.ajax({
                url: '/Doctor/EliminarTratamiento',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (data) {
                    console.log('Tratamiento eliminado con éxito');
                    location.reload();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(textStatus, errorThrown);
                }
            });
        });

        // Script para manejar el clic en el botón "Filtrar"
        $(document).on('click', '#filterTreatmentButton', function () {
            var searchTerm = $("#searchTreatmentInput").val();

            // Realiza la solicitud AJAX para filtrar por nombre
            $.ajax({
                type: "GET",
                url: `/Doctor/FiltrarTratamientoPorNombre?filtro=${encodeURIComponent(searchTerm)}`,
                contentType: "application/json",
                success: function (data) {
                    // Manipula la respuesta según tus necesidades
                    console.log("Tratamientos filtrados");
                    // Actualiza la tabla u otro contenido con los resultados
                    $('#pnl-table-tratamiento').html(data);
                },
                error: function (error) {
                    console.error("Error al filtrar tratamientos:", error);
                }
            });
        });
    </script>


</body>

</html>


