@model DentalApp.Models.View.TratamientoPartialViewModel

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Duración</th>
            <th>Restricciones</th>
            <th>Precio</th>
            <th>Imagen</th>
            <th>Acciones</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var tratamiento in Model.Tratamientos)
        {
            <tr>

                <td>@tratamiento.Nombre</td>
                <td>@tratamiento.Descripcion</td>
                <td>@tratamiento.Duracion</td>
                <td>@tratamiento.Restricciones</td>
                <td>@tratamiento.Precio</td>
                <td>@tratamiento.Imagen</td>
                <td>
                    <!-- Acciones de editar y eliminar -->
                    <a href="#editTreatmentModal" class="edit" data-toggle="modal"
                       data-id="@tratamiento.Id"
                       data-nombre="@tratamiento.Nombre"
                       data-descripcion="@tratamiento.Descripcion"
                       data-duracion="@tratamiento.Duracion"
                       data-restricciones="@tratamiento.Restricciones"
                       data-precio="@tratamiento.Precio"
                       data-imagen="@tratamiento.Imagen">
                        <i class="material-icons" data-toggle="tooltip" title="Editar">&#xE254;</i>
                    </a>
                    <a href="#deleteTreatmentModal" class="delete" data-toggle="modal"
                       data-id="@tratamiento.Id">
                        <i class="material-icons" data-toggle="tooltip" title="Eliminar">&#xE872;</i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Paginación -->
<div class="clearfix">
    <div class="hint-text">Mostrando <b>@Model.Tratamientos.Count()</b> de <b>@Model.Tratamientos.Count</b> tratamientos</div>
    <ul class="pagination">
        @*  @for (int i = 1; i <= Model.TotalPages; i++)
        {
        <li class="page-item"><a href="@Url.Action("Index", new { pageNumber = i })" class="page-link">@i</a></li>
        } *@
    </ul>
</div>
